.recent-projects-animation {
    animation: scroll 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

@keyframes scroll {
    from {
        scale: 0.5;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}